body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; 
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    padding: 10px;
    background-color: #007bff;
    color: white;
    margin-right: 10px;
}

.header {
    background-color: #8cd6ea; 
    padding: 20px;
}

.menu-horizontal {
    display: flex;
    justify-content: space-around;
}

.body {
    display: flex;
}

.menu-vertical {
    background-color: #4fc0db;
    width: 200px;
    padding: 100px;
    height: 565px;
}

.menu-vertical ul {
    display: flex;
    flex-direction: column;
}

.menu-vertical li {
    margin-bottom: 10px;
    background-color: #009cde;
}

.content {
    flex-grow: 1;
    background-color: #f6c0c7;
    padding: 0px;
}

.table {
    background-color: #ffe5b5;
    padding: 100px;
    margin-bottom: -50px;
    width: 680px;
    height: 210px;
}

p {
    text-align: center;
    color: #f05a28;
    font-style: italic;
}

table {
    width: 100%;
    border-collapse: collapse;
    color: #f05a28;
    font-style: italic;
    border: 2px dashed #f05a28; 
    padding: 10px;
    width: 50%;
    margin: 10px 170px;  
    
}

td {
    padding: 10px;
    border: 1px solid #000;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    border: 1px solid #000;
    border: 2px dashed #f05a28; 
    padding: 10px;

}

.formulario {
    background-color: #f7c3c5;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    height: 295px;
    
    display: flex;
    justify-content: center;  
    align-items: center;   
}

input, select {
        padding: 10px;
        margin: 10px 0;
        border: 2px solid orange;
        border-radius: 5px; 
        background-color: #ffe4b5; 
        color: #333; 
        width: 30%;
    }

label {
    font-size: 16px;
    margin-bottom: 5px;
    display: block; 
    color: #f05a28;
    font-style: italic;
}

button {
    padding: 10px 15px;
    background-color: #ff6f61;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
}

button:hover {
    background-color: #ff4e40;
}

